@{
    ViewData["Title"] = "Cesta";
}

<style>
    @* Imports *@ 
    @@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

    #Dashboard, #ProdutoAdmin, #Categoria, #Historico, #Sair {
        display: none;
    }

    .lh-title {
        font-family: 'Quicksand', sans-serif;
    }

    .lh-hr {
        width: 80%;
    }

    .lh-finalCompra {
        margin-top: 20px;
    }

    .lh-qtd {
        color: cornflowerblue;
    }

    .lh-qtd:hover {
        text-decoration: none;
        color: cornflowerblue;
    }
</style>

<h1>Comprovante de Compra</h1>