@model IEnumerable<ProjetoBlueModas.Models.Produto>

<style>
    @* Imports *@
    @@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

    #Dashboard, #ProdutoAdmin, #Categoria, #Historico, #Sair {
        display: none;
    }

    .lh-cards {
        margin: 30px 0px;
    }

    .lh-card {
        left: 5px;
        display: inline-block;
        vertical-align: top;
        box-shadow: 0px 0px 15px #777;
        margin: 20px 20px;
        height: 300px;
        width: 260px;
        padding: 5px;
        font-family: Verdana, sans-serif;
    }

    .lh-title {
        font-family: 'Quicksand', sans-serif;
    }

    .lh-card img {
        width: auto;
        max-height: 50%;
    }

    .lh-categoria, .lh-preco {
        font-size: 10pt;
    }

    .lh-preco {
        color: darkgreen;
    }

    .lh-hr {
        width: 80%;
        margin-bottom: 20px;
    }
</style>

<div class="alert alert-success alert-dismissible offset-lg-7 offset-md-6 offset-sm-1 offset-1 col-lg-4 col-md-5 col-sm-10 col-10 d-inline-flex justify-content-between align-items-center fade" role="alert">
    Adicionado com Sucesso!
    <button type="button" class="fal fa-close lh-close" data-dismiss="alert" aria-label="Close" aria-hidden="true"></button>
</div>

<div class="lh-title text-center">
    <h3>Produtos</h3>
</div>
<hr class="lh-hr" />
<div class="row">
    <div class="col-12"></div>
    <div class="col-12 align-items-center">
        <div class="lh-cards container mx-auto">
            @foreach (var item in Model) {
                <div class="lh-card card text-center">
                    <img class="card-img-top" src="~/image/@item.Imagem" asp-append-version="true" />
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nome)</h5>
                        <h6 class="text-left lh-categoria">
                            <b>Categoria: </b> @Html.DisplayFor(modelItem => item.CategoriaId)
                        </h6>
                        <h6 class="lh-preco text-right">@Html.DisplayFor(modelItem => item.Preco)</h6>
                        <div class="text-right">
                            <a class="btn btn-sm btn-outline-success" asp-area="" asp-controller="Home" asp-action="InserirNaCesta" asp-route-id="@item.Id">+ Adicionar na cesta</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>


<script>
    $('.collapse').collapse();

    $('.lh-alert').addClass('d-none');
</script>