@model ProjetoBlueModas.Models.Admin

@{
    ViewData["Title"] = "Dashboard";
}

<style>
    @* Imports *@
    @@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

    #Home, #Produto, #Sobre, #Cesta, #Login {
        display: none;
    }

    .lh-title {
        font-family: 'Quicksand', sans-serif;
        margin-bottom: 40px;
    }

    .lh-hr {
        width: 80%;
        margin-bottom: 20px;
    }

    .lh-text::first-letter {
        margin-left: 30px;
    }
</style>

<div class="lh-title text-center">
    <h3>Dashboard</h3>
</div>
<div class="container">
    <div class="text-justify lh-text">
        Lorem ipsum fermentum pharetra ac donec nulla libero etiam elit, lobortis potenti blandit primis lacinia convallis adipiscing varius, mi ullamcorper nisi massa molestie hendrerit platea curae. hendrerit sodales nam congue eu ligula libero taciti volutpat ipsum, dapibus commodo lacus interdum erat sociosqu curabitur nisi tellus, ullamcorper ad senectus fringilla non elementum eu praesent. accumsan mattis interdum elit maecenas auctor semper, pulvinar aenean est inceptos habitasse morbi semper, torquent iaculis vulputate conubia tellus. tincidunt iaculis magna purus quam ac proin dictumst, nullam aenean nulla fusce hac elementum sollicitudin, porta pharetra orci accumsan pellentesque dictum.
    </div>
</div>