@model ProjetoBlueModas.Models.Categoria

<style>
    @* Imports *@
    @@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

    #Home, #Produto, #Sobre, #Cesta, #Login {
        display: none;
    }

    .lh-title {
        font-family: 'Quicksand', sans-serif;
        margin-bottom: 20px;
    }

    .lh-hr {
        width: 80%;
        margin-bottom: 20px;
    }
</style>

<div class="lh-title text-center">
    <h3>Detalhes Categoria</h3>
</div>
<div class="container">
    <div class="row">
        <div class="row col-4 mx-auto">
            <dt class="col-10">
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd class="col-2">
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <div>
                <a asp-action="Index"><i class="fal fa-angle-left"></i> Voltar</a> |
                <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a>
            </div>
        </div>
    </div>
</div>
